@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}


/* utility classes */

.invert{
    filter: invert(1);
}
.icon{
    height: 20px;
    width: 20px;
}
.iconl{
    height: 16px;
    width: 16px;
}
.iconsm{
    height: 15px;
    width: 15px;
}
.fetu{
    height: 125px;
    width: 125px;
}
html {
  scroll-behavior: smooth;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 25px;
    color: black;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

.Logo{
    height: 75px;
    width: 110px;
    box-shadow: #3f321c -8px 0px 8px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile{
    display: none;
    align-items: center;
}
#navbar li{
    list-style: none;
   padding:  0 20px;
   position: relative;
}

#navbar li a{
   text-decoration: none;
   font-weight: 600;
   font-size: 16px;
   color: #1a1a1a;
   transition: 0.3s ease;
}
#close{
    display: none;
}

#navbar li a:hover , #navbar li a.active{
    color: rgb(255, 123, 0);
 }

 #navbar li a.active::after{
    content: "";
    width: 40%;
    height: 2px;
    background: rgb(255, 123, 0);
    position: absolute;
    bottom: -4px;
    left: 20px;
 }
 
 #hero{
background-image: url("img/model-removebg-preview.png");
background-size: 60%;
background-repeat: no-repeat;
height: 80vh;
width: 100%;
background-position: top 0% right 10%;
background-color: #e9dfb69d;
padding: 0 80px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
 }

 #hero h4{
    padding-bottom: 15px;
 }
 #hero h1{
    color: #05635bc6;
 }
 #hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: rgb(59, 17, 17);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
 }
 #hero button:hover{
    color:  #05635bc6;
 }

 #feature .card{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 10px 10px 35px rgba(155, 150, 150, 0.3);
    border: 1px solid #b1b1ad9d;
    border-radius: 4px;
    margin: 15px 0;
 }
 #feature .card:hover{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
 }
 #feature .card img{
  width: 100%;
  margin-bottom: 10px;
}
 #feature .card h6{
      padding: 9px 8px 6px 8px;
      line-height: 1;
      border-radius: 4px;
      color: #06443ec6;
      background-color: #fff3e3c6;
 }
 #feature .card h6:hover{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #06443ec6;
    cursor: pointer;
    background-color: #cbcbcb4c;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .card:nth-child(2) h6{
    cursor: pointer;
    background-color: #cfffc7c6;
}
#feature .card:nth-child(3) h6{
    cursor: pointer;
    background-color: #bcfff0c6;
}
#feature .card:nth-child(4) h6{
    cursor: pointer;
    background-color: #dce5f7c6;
}
#feature .card:nth-child(5) h6{
    cursor: pointer;
    background-color: #f6ddf48c;
}
#feature .card:nth-child(6) h6{
    cursor: pointer;
    background-color: #f0ff7e5d;
}
#feature .card:nth-child(2) h6:hover{
    cursor: pointer;
    background-color: #cbcbcb4c;
}
#feature .card:nth-child(3) h6:hover{
    cursor: pointer;
    background-color: #cbcbcb4c;
}
#feature .card:nth-child(4) h6:hover{
    cursor: pointer;
    background-color: #cbcbcb4c;
}
#feature .card:nth-child(5) h6:hover{
    cursor: pointer;
    background-color: #cbcbcb4c;
}
#feature .card:nth-child(6) h6:hover{
    cursor: pointer;
    background-color: #cbcbcb4c;
}
#product-1{
    text-align: center;
    z-index: 1;
}
#product-1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #b1b1ad9d; 
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    z-index: 1;
}

#product-1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

#product-1 .shop1 img{
    width: 100%;
    border-radius: 20px ;
}
#product-1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product-1 .pro .des span{
   color: #06443ec6;
   font-size: 13px;
}
#product-1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
 }
 #product-1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
 }
 #product-1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
 }
 #product-1 .pro .cart1{
    width: 25px;
    height: 25px;
   position: absolute;  
   bottom: 35px;
   right: 35px;
 }

 #banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("img/Banner/images.jpg");
    width: 100%;
    height: 40vh;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 #banner h4{
    color: #fff;
    font-size: 17px;
 }
 #banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
 }
 #banner h2 span{
    color: #ffc800;
 }
 #banner button:hover{
    background-color: #ffc800;
    color: rgb(255, 255, 255);
 }

 #sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
 }

 #sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/Banner/b17.jpg");
    min-width: 640px;
    height: 50vh;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     padding: 30px;
 }
 #sm-banner .banner2{
    background-image: url("img/Banner/b10.jpg");
 }
 #sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
 }
 #sm-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
 }
 #sm-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
 }
 #sm-banner .banner-box button:hover{
    background-color: #94edffb0;
    border: 1px solid white;
 }

 #banner-3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/Banner/b7.jpg");
    min-width: 30px;
    height: 30vh;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     padding: 20px;
     margin-bottom: 20px;
     width: 28%;
 }
 
 #banner-3 .ba2{

    background-image: url("img/Banner/b4.jpg");
 }
 
 #banner-3 .ba3{
    background-image: url("img/Banner/b18.jpg");
 }
 #banner-3 h2{
    color: white;
    font-weight: 900;
    font-size: 22px;
 }
 #banner-3 h3{
    color: rgb(87, 5, 5);
    font-weight: 800;
    font-size: 15px;
 }
 #banner-3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
 }

 #newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/Banner/banner.jpg");
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #088178;
    height: 25vh;
 }
 #newsletter h4{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
 }
 #newsletter p{
    font-size: 16px;
    font-weight: 600;
    color: #73d4f4e5;
 }
 #newsletter p span{
    color: #fff27d;
 }
 #newsletter .form{
    display: flex;
    width: 35%;
 
 }
 #newsletter input{
    height: 3rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
 }
 #newsletter button{
    background-color: #088178;
    color: #fff;
   white-space: nowrap;
   border-radius: 4px;
   border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 3rem;
    padding: 0 1.25em;
 }

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(55, 52, 52, 0.325);
}
.logd{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    padding-bottom: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}
footer .col{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow img{
    filter: invert(0.5);
   padding-right: 0px;
  margin-right: 7px;
   cursor: pointer;
}
footer .install .row img{
    border: 1px solid #909090;
    border-radius: 6px;
}
footer .install img{
   margin: 10px 0 15px 0;
}
footer a:hover{
    color: #ff9500;
}
footer .follow img:hover{
    filter: invert(0);
}
footer .copyright{
    width: 100%;
    text-align: center;
}


/* shop page */

#page-header{
    background-image: url("img/Banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

#page-header h2 , p{
    color: white;
}

#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #ffa200c0;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}


/*single product*/

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-img{
    width: 40%;
    margin-right: 50px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details button{
   background-color: #088178;
   color: white;
}
#prodetails .single-pro-details span{
   line-height: 25px;
 }
.small-img-grp{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}


/*blog page*/

.blog-header{
    background-image: url("img/Banner/b19.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
.blog-details p{
    color: grey;
}
#blog .blog-details a{
   text-decoration: none;
   font-size: 11px;
   color: black;
   font-weight: 700;
   position: relative;
   transition: 0.3s;
}
#blog .blog-details a::after{
   content: "";
   width: 50px;
   height: 1px;
   background-color: black;
   position: absolute;
   top: 4px;
   right: -60px;
 }

 #blog .blog-details a:hover{
    color: #ffa200c0;
  }

  #blog .blog-details a:hover::after{
    background-color: #ffa200c0;
    transition: 0.3s;
  }

  #blog .blog-box h1{
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #cdcecf;
  z-index: -9;
 }


/* about page */

.about-header{
    background-image: url("img/Banner/images.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

#about-head{
    display: flex;
    align-items: center;
}
#about-head p{
    color: grey;
}
#about-head img{
    width: 50%;
   height: auto;
}

#about-head div{
    padding-left: 40px;
}

#about-app{
    text-align: center;
}

#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video{
    width: 100%;
    height: 100%;
   border-radius: 20px;
}



/* contact page */


.contact-header{
    background-image: url("img/Banner/b18.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
}


#contact-details{
display: flex;
align-items: center;
justify-content: space-between;
}


#contact-details .details{
  width: 40%;
    }

 #contact-details .details span,
 #form-details form span{
 font-size: 12px;
  }

  #contact-details .details h2,
 #form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
     }
 #contact-details .details h3{
        font-size: 16px;
        padding-bottom: 15px;
         }


#contact-details .details li{
list-style: none;
display: flex;
padding: 10px 0;
}
  
#contact-details .details li img{
    margin-right: 17px;
    }
        
 #contact-details .details li p{
    margin: 0;
    font-size: 14px;
    color: gray;     
 }

 #contact-details .map{
    width: 55%;
    height: 400px;
 }

 #contact-details .map iframe{
    width: 100%;
    height: 100%;
 }

 #form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
 }

 #form-details form{
width: 65%;
display: flex;
flex-direction: column;
align-items: flex-start;
 }

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;

}

#form-details form button{
    background-color: #088178;
    color: white;
  
}

#form-details .people div{
   padding-bottom: 25px;
   display: flex;
   align-items: flex-start;
}

#form-details .people div img{
   width: 65px;
   height: 65px;
   object-fit: cover;
   margin-right: 15px;
 }
 
#form-details .people div p{
        margin: 0;
        font-size: 13px;
        line-height: 25px;
        color: gray;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

#cart table{
 width: 100%;
 border-collapse: collapse;
 table-layout: fixed;
 white-space: nowrap;
}

#cart table img{
    width: 70px;
}
.xx{
    padding: 25px;
}
#cart table td:nth-child(1){
    width: 100%;
    text-align: center;

}

#cart table td:nth-child(2){
    width: 150%;
    text-align: center;

}

#cart table td:nth-child(3){
    width: 250%;
    text-align: center;

}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150%;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 60px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
border: 1px solid #e2e9e1;
border-left: none;
border-right: none;
}

#cart table thead td{
   font-weight: 700;
   text-transform: uppercase;
   font-size: 13px;
    padding: 18px 0;
    }

    #cart table tbody tr td{
        padding-top: 15px;
         }

         #cart table tbody td{
           font-size: 13px;
             }
    
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
   padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
 }
 
#coupon button,
#proceed{
    background-color: #088178;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
}

.subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

.subtotal table{
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}















/* Responsive */

@media (max-width:799px){

#navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;

}
#navbar.active{
    right: 0px;
}
#navbar li{
    margin-bottom: 25px;
    left: 0;
}

#mobile{
    display: flex;
    align-items: center;
}
 
#mobile a{
  padding-right: 35px;
}

#close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
}

#lg-bag{
    display: none;
}

#hero{
    height: 45vh;
    padding: 0 80px;
    background-position: top 60% right -300%;
    background-size: 90%;
    padding: 0 30px;

}
 #banner{
        height: 30vh;
     }
     
#sm-banner .banner-box{
    min-width: 100%;
    height: 30vh;
}   
#sm-banner{
    padding: 30px 40px;
} 
#banner-3{
    padding: 0 40px;
}

#banner-3 .banner-box{
    width: 30%;
}
#newsletter .form{
        width: 60%;
}

#form-details{
    padding: 40px;
}
#form-details form{
width: 50%;
}
#cart {
    overflow-x: auto;
}







}









@media (max-width:477px){

    .Logo{
        height: 60px;
        width: 80px;
        box-shadow: #3f321c -8px 0px 8px;
    }

    #header{
        padding: 8px 30px;
    }
.section-p1{
    padding: 17px;
}
    #hero{
        background-image: url("img/model-removebg-preview.png");
        background-size: 180%;
        background-repeat: no-repeat;
        height: 55vh;
        width: 100%;
        background-position: bottom 0% right 90%;
        background-color: #e9dfb69d;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
         }

         #hero h4{
            padding-bottom: 15px;
         }
         #hero h1{
            color: #05635bc6;
            font-size: 30px;
         }
         #hero button{
            background-image: url("img/button.png");
            background-color: transparent;
            color: rgb(59, 17, 17);
            border: 0;
            padding: 10px 80px 14px 65px;
            background-repeat: no-repeat;
            cursor: pointer;
            font-weight: 600;
            font-size: 15px;
         }

#feature .card{
    width: 155px;
    margin: 0 0 15px 0;
    padding: 30px 15px;
    box-shadow: 5px 5px 25px rgba(155, 150, 150, 0.3);
}

.fetu{
    height: 100px;
    width: 100px;
}

#product-1 .pro{
    width: 100%;
}

#banner{
    height: 30vh;
 }
 
 #sm-banner .banner2{
    margin-top: 20px;
 }
#sm-banner .banner-box{
min-width: 100%;
height: 40vh;
}   
#sm-banner{
padding: 30px 20px;
} 
#banner-3{
padding: 0 20px;
}

#banner-3 .banner-box{
width: 100%;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/Banner/banner.jpg");
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #088178;
    height: 34vh;
 }
 #newsletter h4{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
 }
 #newsletter p{
    font-size: 16px;
    font-weight: 600;
    color: #73d4f4e5;
 }
 #newsletter .form{
    display: flex;
    width: 85%;
 
 }

 /*single product*/

 #prodetails{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
 }

 #prodetails .single-pro-img{
     width: 100%;
     margin-right: 0;
 }

 #prodetails .single-pro-details{
    width: 100%;
}

/*blog page*/

#blog{
    padding: 100px 20px 0 20px;
}

#blog .blog-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#blog .blog-img{
   width: 100%;
   margin-right: 0px;
   margin-bottom: 30px;
}
#blog .blog-details{
    width: 100%;
}

/*About page*/

#about-head{
    flex-direction: column;
}

#about-head img{
    width: 100%;
    margin-bottom: 20px;
}  

#about-head div{
    padding-left: 0px;
}  


#about-app .video{
    width: 100%;
}  

#contact-details{
        flex-direction: column;
}
#contact-details .details{
    width: 100%;
    margin-bottom: 30px;
}
#contact-details .map{
    width: 100%;
}

#form-details{
    flex-wrap: wrap;
    margin: 10px;
    padding: 30px 10px;
}
#contact-details form{
    width: 100%;
    margin-bottom: 30px;
}

#cart-add{
    flex-direction: column;

}
#coupon{
    width: 100%;
    margin-bottom: 30px;

}

#subtotal{
    width: 100%;
    padding: 20px;
}









}